In [6]:
# import xarray as xr

In [7]:
# ds = xr.open_dataset("filename.nc")
# ds

In [1]:
# to select from value
# ds.sel(latitude=-82)
# ds.sel(latitude=-82, latitude=5.75, time="2018-01-01")
# if not present "KEY ERROR" will be returned

In [2]:
# to make approx output
# ds.sel(latitude=-99, method="nearest")

In [3]:
# we can pass a list as well
# ds.sel(latitude=[-16,-15], longitude=[-46,47], method="nearest")

In [4]:
# to select from index
# ds.isel(latitude=0, longitude=0) #first latitude & first longitude

In [5]:
# where method
# QUERY = ds.longitude<-64
# QUERY = QUERY & (ds.latitude>-8)
# ds.where(QUERY, drop=True)

In [8]:
# to visualize multidimensional & geospatial variables
# ds.skt.plot()
# ds.isel(time=0).skt.plot()
# ds.isel(time=0).lai_hv.plot()
# ds.isel(longitude=0, latitude=0).skt.plot()
# ds.isel(time=0).sel(longitude=-59, method="nearest").skt.plot()

In [9]:
# to apply simple operations over multidimensional data

# suppose we want to study the difference in temperature between 1jan2019 and 1jan1979
# and plot it

# temp_change = (ds.skt.sel(time='2019-01-01')-ds.skt.sel(time='1979-01-01'))
# temp_change
# temp_change.plot()

In [10]:
# ds.skt.mean()
# mean_temp = ds.skt.mean(dim='time')
# mean_temp
# mean_temp.plot()

In [11]:
# ds.skt.mean(dim=['time','longitude']).plot()

In [12]:
# ds.skt.std(dim='time').plot()   #std = standard deviation

In [13]:
# ds.skt.median(dim=['latitude','longitude']).plot()

In [14]:
# apply group operations over multidimensional data
# (ds.groupby(ds.time.dt.year)
#    .mean(dim=['time','latitude','longitude'])
#    .skt)
# (ds.groupby(ds.time.dt.year)
#    .mean(dim=['time','latitude','longitude'])
#    .skt
#    .plot())

In [15]:
# (ds.groupby(ds.time.dt.month)
#    .mean(dim=['time','latitude','longitude'])
#    .skt
#    .plot())

In [16]:
# (ds.groupby(ds.time.dt.month)
#    .mean(dim=['time','latitude','longitude'])
#    .lai_hv
#    .plot())

In [17]:
# (ds.resample({'time':'10y'})
#    .mean(dim=['time','latitude','longitude'])
#    .skt
#    .plot())

In [18]:
# to merge and concatenate datasets
# da = ds.time.dt.year
# da

# ds_1 = ds.merge(da)
# ds_1

In [19]:
# da = ds.longitude**2 + ds.latitude**2
# da.name = 'squared_distance'
# ds_2 = ds.merge(da)
# ds_2

In [20]:
# ds3 = ds_1.merge(ds_2)
# ds3

In [22]:
# Concatenation
# ds_square_root = ds_3 ** (1/2)
# ds_cube_root = ds_3 **(1/3)
# ds_4 =xr.concat([ds_3, ds_square_root, ds_cube_root], "dim_power")

In [24]:
# ds.sel(time='2019-01-01').tp.plot()
# ds_4.sel(dim_power=0, time='2019-01-01').tp.plot()
# ds_4.sel(dim_power=1, time='2019-01-01').tp.plot()
# ds_4.sel(dim_power=2, time='2019-01-01').tp.plot()

In [25]:
# Interact with Pandas and export Datasets
# df = ds.to_dataframe()
# df

In [26]:
# da = ds.time.dt.month
# da.to_dataframe()

In [27]:
# da.to_series()

In [28]:
# xr.Dataset.from_dataframe(df)

In [29]:
# xr.DataArray.from_series(df.skt)

In [30]:
# ds.to_netcdf('export.nc')